<div class="row">
  <header class="page-header">
  <h1>Welcome to MageeWorld</h1>
  </header>
</div>

<div class="row">
<% @articles.each do |article| %>
	<p>
		<%= link_to article.title,  article_path(article) %>
	</p>
<% end %>