 <footer class="navbar navbar-inverse" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="navbar-text">
            <a href="mailto:jemagee@cox.net?subject=Mageeworld Contact" class="navbar-link">Contact Me</a>
          </p>
        </div>
        <div class="col-md-4">
          <p class="navbar-text">
            <a href="https://github.com/jemagee/" target="_blank" class="navbar-link">GitHub</a>
          </p>
        </div>
        <div class="col-md-4">
          <p class="navbar-text">
            <a href="#" class="navbar-link">About (Coming Soon)</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="navbar-text">
          &copy; 2016, John Magee
        </div>
      </div>
    </div>
  </footer>
