<h3>Hey John</h3>

<p>You got a new comment on the article entitled <%= @article.title %></p>

<p>The comments reads:</p>

<p><i><%= @comment.body %></i></p>

<%= link_to "Article", article_url(@article) %>

