<div class="row" id="admin">
  <div class="row">
    <header>
      <h1>Mageeworld Administration Home</h1>
    </header>
  </div>
  <div class="col-md-9">
    <div id="drafts">
      <h3>Unpublished Drafts - <%= @drafts.count %></h3>
      <% @drafts.each do |draft| %>
        <div class="draft">
          <%= link_to draft.title, edit_admin_article_path(draft) %>
        </div>
      <% end %>
    </div>
    <div id="comments">
      <h3>10 Most Recent Comments</h3>
      <% @comments.each do |comment| %>
        <div class="admin-comment">
          <%= comment.body %>
          <%= link_to "Delete Comment", admin_comment_path(comment), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <h2>Administrative Links</h2>
    <ul class="nav nav-stacked">
      <li>Admin Links</li>
      <li>Will Go</li>
      <li>Here</li>
    </ul>
  </div>
</div>