@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .abstract {
  font-style: italic;
  color: #787878; 
  padding-bottom: 25px;
  font-size: 14pt;
 }

 .comment-time {
  @extend .abstract;
  font-size: 12px;
  padding-top: 15px;
 }

 a.index_title {
 }

 .comment {
    border-top: .1px solid #D3D3D3;
 }

.alert-notice {
  @extend .alert-warning;
}

.alert-alert {
  @extend .alert-danger;
}

#flash {
  margin-bottom: -20px;
}

.textarea-comment {
  resize: none;
  overflow: auto;
}

.comment-body {
  margin-top: 5px;
  padding-bottom: 15px;
}

.tagline {
  margin-top: -21px;
  @extend .navbar-inverse;
  color: white;
  font-size: 16px;
}

#footer {
  margin-top: 50px;
}

.blockquote-custom {
  @extend blockquote;
  font-size: 18px;
  color: Grey;
  font-style: oblique;
}